[Unit]
Description=Prometheus Node Exporter
After=network.target
 
[Service]
Type=simple
User=node_exporter
Group=node_exporter
# ExecStart=/usr/local/bin/node_exporter
ExecStart=/usr/local/bin/node_exporter --collector.textfile --collector.textfile.directory=/var/lib/node_exporter

SyslogIdentifier=node_exporter
Restart=always

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
